entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "ffmpeg-full", "grpc"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run Bot"
author = 44508041
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 reconnect.py"

[[workflows.workflow]]
name = "Run Bot"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true
